@import url(http://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Monda);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic);
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap);


*{
	background-color: #e5f0ff;
	border-color: #cbd5e2;
}
body, html, img{
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
	font-size: 9pt;
	overflow-y: hidden;
}

header{
	width: 100%;
	height: 50px;
	background-color: #109c31;

	position: absolute;
	top: 0;
	left: 0px;

	font-family: sans-serif;

	z-index: 20;
}

header h1 {
	background-color: inherit;
	width: 99%;
	text-align: center;
	color: white;
	font-size: 250%;
	position: absolute;
	top: -10px;
}

.power {
	display: inline;
}

.coefficient {
	width: 30px;
}




#graph {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.0);
	min-height: 810;
	min-width: 1056;
}

#functions_section {

	width: 7%;
	position: absolute;
	left: 0;
	top:14%;
	height: 80%;
	padding: 0;
	margin: 0;
}

#functions {
	background-color: #f9f9f9;

	margin: 0;
	padding: 5px;

	width: 100%;
	height: 100%;

	position: absolute;
	top: -0px;


	border-style: solid;
	border-width: thin;

	z-index: 1;

	overflow: hidden;

}

#functions_header{
	width: 70px;
	padding: 10px;
	font-family: sans-serif;
	font-size: 110%;

	border-style: solid;
	border-width: thin;
	border-radius: 5px;

	position: relative;
	top: -45px;
	left: 0px;

	background-color: #f9f9f9;
}

#functions img {
	width: 40%;
	height: 40%;
	background-color: #f9f9f9;
	border-radius: 2px;

	padding: 0;

	display: block;
	margin: 0 auto;
}

#functions p {
	background-color: #f9f9f9;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0 auto;
	padding-top: 2px;
	color: #7b788e;

}

#functions p:hover {
	color: #6bb0ff;
}

#functions a{
	background-color: #f9f9f9;
	width: 99%;
	height: 9%;
	font-family: sans-serif;
	font-size: 105%;
	text-decoration: none;

}

#linear_link {
	position: relative;
	top: 0;
	left: 0;
}

#functions div {
	background-color: #f9f9f9;
	width: 100%;
	padding-bottom: 5px;
}

#templates_section {
	width: 15%;
	height: 80%;
	position: absolute;
	left: 7.6%;
	top: 14%;

}

#template_blocks {
	background-color: #f9f9f9;

	margin: 0;
	padding: 5px;

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;

	border-style: solid;
	border-width: thin;



	overflow-y: scroll;

	color: white;


}

#drag {
	z-index: 10;
	position: relative;
	width: 10%;
}

#point {
	z-index: 10;
	position: relative;
	width: 10%;
	top: -100px;
}

#template_header{
	width: 70px;
	padding: 10px;
	font-family: sans-serif;
	font-size: 110%;

	border-style: solid;
	border-width: thin;
	border-radius: 5px;

	position: relative;
		left: 0px;
		top: -45px;

	background-color: #f9f9f9;


}



#template_blocks h1 {
	color: #7b788e;
	background-color: #f9f9f9;
	font-size: 150%;
	text-align: left;
	padding-top: 15px;
}

#template_blocks p{
	width: 110px;
	height: 18px;
	padding: 14px;
	border-style: solid;
	border-width: thin;
  border-radius: 20px;
}

#template_blocks div {
	background-color: #f9f9f9;
}

#linear_templates p{
	background-color: #108108;
	border-color: #084904;
}

#quadratic_templates p {
	background-color: #c71111;
	border-color: #720808;
}

#cubic_templates p {
	background-color: #5d4fa9;
	width: 130px;
}

#reciprocal_templates p {
	background-color: #feb633;
}

#reciprocal_template {
		background-color: #feb633 !important;
		width: 110px;
		height: 18px;
		padding: 14px;
		border-style: solid;
		border-width: thin;
	  border-radius: 20px;
}
#reciprocal_template_text{
	background-color: #feb633 !important;
	width: 110px;
	position: relative;
	top: -10px;
}

#reciprocal_template span {

	background-color: #feb633;
}

#square_root_templates p, span {
	background-color: #deea1f;
}

#trig_templates p {
	width: 120px;
	background-color: #9f18fd;
}

#exponential_templates p {
	width: 90px;
	background-color: #03fed1;
}

#logarithmic_templates p {
	background-color: #fd2190;
}

#absolute_value_templates p {
	background-color: #242424;
}
#template_blocks sup {
	background-color: inherit;
}

#user_area sup {
	background-color: inherit;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#playground_section {
	width: 20%;
	height: 80%;
	position: absolute;
	left: 22.1%;
	top: 14%;

}

#user_area {
	background-color: #f9f9f9;

	margin: 0;
	padding: 5px;

	width: 100%;
	height: 100%;

	position: absolute;
	left: 0px;
	top: 0px;

	border-style: solid;
	border-width: thin;

	overflow: hidden;

}

#playground_header{
	width: 70px;
	padding: 10px;
	font-family: sans-serif;
	font-size: 110%;

	border-style: solid;
	border-width: thin;
	border-radius: 5px;

	position: relative;
	top: -45px;
	left: 0px;

	background-color: #f9f9f9;
}



#sidewrapper {
	background-color: #e5f0ff;
	font-family:sans-serif;
	font-size: 105%;
  text-align: center;
	color: #7b788e;
	min-width: 430px;
	padding: 0;
	margin: 0;
}



#graph_wrapper {
	height: 75%;
	width: 55%;

	position: absolute;
	left: 44%;
	top: 14%;


	background-color: #ffffff;
	border-style: solid;
	border-width: thin;
	border-color: #cbd5e2;
	border-radius: 1%;

	min-width: 520px;
	min-height: 350px;
}



#sidewrapper input {
	background-color: rgba(255, 255, 255, 0.0);
}

.frac{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            letter-spacing: 0.001em;
            text-align: center;
        }

        .frac > span {
            display: block;
            padding: 0.1em;
						background-color: inherit;
        }

        .frac span.bottom{
            border-top: thin solid white;
        }

        .frac span.symbol {
            display: none;
        }
#square_root_span {
	border-top-style: solid;
	border-width: 1px;
	border-color: white;
}
